
                <!-- Begin Page Content -->
<div class="container-fluid">
<div id="events-container" class="row row-cols-1 row-cols-md-3 g-4"></div>
<nav>
  <ul class="pagination justify-content-center" id="pagination"></ul>
</nav>








<!-- Then call the EventService -->
<script>
  $(document).ready(function () {
    if (typeof EventService !== "undefined") {
      EventService.loadAll("ALL", 1);
    } else {
      console.error("ERROR! EventService not loaded. Check script include.");
    }
  });
</script>
    
</div>
<!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

